{% if page.title == "Home"
   or page.title == "Blog"
   or page.title == "Projects"
   or page.title == "Tags"
%}{% assign showHeader = true %}{% endif %}

{% if showHeader == true %}
    <header class="header-home {% if site.animation %}animated{% endif %}">
        {% if site.about %}
            <a class="link" href="{{ site.url }}/about">
                <img class="selfie" alt="{{ site.name }}" src="{% if site.external-image %}{{ site.picture }}{% else %}{{ site.url }}/{{ site.picture }}{% endif %}" />
            </a>
        {% else %}
            <span class="link">
                <img class="selfie" alt="{{ site.name }}" src="{% if site.external-image %}{{ site.picture }}{% else %}{{ site.url }}/{{ site.picture }}{% endif %}" />
            </span>
        {% endif %}

        {% assign split_name = site.name | split: ' ' %}
        <h1 class="description" style=" font-size: 48px; "><span style=" color: red ">{{ split_name[0] }}</span> <span style=" color: black; ">{{ split_name[1] }}</span></h1>

        {% assign split_bio = site.bio | split: ' ' %}
        <h2 class="description"><span style=" color: black ">{{ split_bio[0] }}</span> <span style=" color: red ">{{ split_bio[1] }} {{ split_bio[2] }}</span></h2>

        {% include social-links.html %}
    </header>
{% endif %}

{% include nav.html %}
